/**
 * This stylesheet will manage all secondary color-related styles.
 *
 * @package Follet_Theme
 * @since   1.0
 */
/* =============================================================================
   General
   ========================================================================== */
a:hover {
  color: #d9534f;
}

/* Buttons
   ========================================================================== */
.btn.btn-secondary:not(.navbar-toggle) {
  background-color: #d9534f;
}

/* =============================================================================
   Top navigation
   ========================================================================== */
#top-navigation-wrapper {
  border-bottom: 3px solid #d9534f;
}

/* =============================================================================
   Articles
   ========================================================================== */
#main article h1 a:hover {
  color: #d9534f;
}
#main article blockquote {
  border-color: #d9534f;
}
#main article.post.sticky header:before {
  color: #d9534f;
}

.wp-caption-text,
.wp-caption-dd {
  border-bottom: 2px solid #d9534f;
}

/* =============================================================================
   Comments
   ========================================================================== */
#comments .required {
  color: #d9534f;
}
